.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.seach-section{
    padding: 50px;
    background-color: #f3f3f3;
    width: 60%;
    margin: auto;
}
#person-input-field{
  width: 100%;
    height: 30px;
    border: none;
    background-color: #f3f3f3;
    outline:none;
    font-size: 15px;
}
.suggestion-section{
    display: flex;
    width: 400px;
    font-size: 10px;
    padding: 5px;
    background: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 2px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.avtar{
  border-radius: 50%;
  height: 50px;
  width:50px;
}
.suggestion-name{
  font-size: 17px;
  margin: 0 10px 0 0;
}
.placeholder{
  opacity: 0.7;
    font-size: 12px;
}
.suggestion-section li{
  display: flex;
  margin-bottom: 10px;
}
.suggestion-details{
  padding: 10px;
}
.seach-section ul{
  list-style-type: none;
  -webkit-padding-start:0;
  margin: 0;
  width: 100%
}
.suggestion-section li:hover{
  background-color: #f3f3f3;
}
.chip {
  margin: 0 5px;
  display: flex;
  padding: 0 25px;
  height: 35px;
  font-size: 12px;
  border-radius: 25px;
  background-color: #d0d0d0;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.closebtn {
  padding-top: 10px;
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 12px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}
#input-section{
  display: flex;
  border-bottom: solid 2px blue;
  padding: 5px;
}
.hide{
  display: none;
}
.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.warning{
  background-color: yellow;
}
